#!{{ ansible_facts['user_dir'] }}/.config/waybar/scripts/.haas/bin/python
# {{ ansible_managed }}

from openmeteo_requests import Client
from requests_cache import CachedSession
from retry_requests import retry
from requests import get
from os import path
from yaml import safe_load
from json import dumps
from time import sleep
from datetime import datetime, UTC

CONFIG_PATH = path.join(
    path.expanduser("~"), ".config", "waybar", "scripts" "haas.yaml"
)


def get_config(path) -> dict:
    if not path.exists(path):
        raise RuntimeError(
            f"Config path: {path} does not exist"
        )
    with open(path, "r") as fp:
        data = fp.read()
    # Create try - except when error occurs
    yaml_data = safe_load(data)
    return yaml_data  # config data


class Widget:
    def __init__(self) -> None:
        self.config = get_config(CONFIG_PATH)
        self.token = get_config(self.config["haas"]["token_path"])["token"]
        self.city_lat, self.city_long = self._get_coords()
        self.openmeteo = Client(
            session=retry(
                CachedSession(
                    path.join(path.expanduser("~"), ".cache"),
                    expire_after=3600
                ),
                retries=5,
                backoff_factor=.2
            )
        )
        self.entities = {}
        self.weather = {}
        for entity in self.config["haas"]["entity_ids"]:
            self.entities[entity] = {
                "name": None,
                "state": None,
                "unit": None,
                "last_changed": None,
                "last_updated": None
            }

    def run(self) -> None:
        while True:
            self.get_entity_states()
            self.get_weather()
            print_data()
            sleep(5 * 60)

    def print_data(self) -> None:
        print(
            dumps({
                "weather": self.weather,
                "entities": self.entities,
                "error": "",
                "text": "Add some text"
            }),
            flush=True
        )

    def _get_coords(self) -> tuple:
        city = self.config["weather"]["city"]
        response = get(
            "https://geocoding-api.open-meteo.com/v1/search",
            params={"name": city, "count": 1, "format": "json"}
        )
        if (
            response.status_code not in [200, 300, 301]
            or not response.json().get("results")
        ):
            while True:
                print(
                    dumps({
                        "error": f"City {city} was not found",
                        "text": f"City {city} was not found"
                    }),
                    flush=True
                )
                sleep(60)
        result = response.json()["results"][0]
        return result["latitude"], result["longitude"]

    def get_weather(self) -> None:
        # Add try except if error occurs
        response = self.openmeteo.weather_api(
            "https://api.open-meteo.com/v1/forecast",
            params={
                "latitude": self.city_lat,
                "longitude": self.city_long,
                "current": [
                    "temperature_2m",
                    "relative_humidity_2m",
                    "apparent_temperature"
                ]
            }
        )
        current = response[0].Current()
        self.weather = {
            "temperature_2m": current.Variables(0).Value(),
            "humidity_2m": current.Variables(1).Value(),
            "apparent_temperature": current.Variables(2).Value()
        }

    def get_entity_states(self) -> None:
        response = get(
            path.join(self.config["haas"]["url"], "api", "states"),
            headers={
                "Authorization": f"Bearer {self.token}",
                "Content-Type": "application/json"
            }
        )
        if response.status_code not in [200, 300, 301]:
            while True:
                print(
                    dumps({
                        "error": "failed to get entities",
                        "text": "failed to get entities"
                    }),
                    flush=True
                )
                sleep(60)
        result = {}
        for entity in response.json():
            if entity["entity_id"] not in self.entities:
                continue
            entity_id = entity["entity_id"]
            if not self.entities[entity_id]["name"]:
                self.entities[entity_id]["name"] = \
                    entity["attributes"]["friendly_name"]
            self.entities[entity_id]["state"] = entity["state"]
            self.entities[entity_id]["unit"] = \
                entity["attributes"]["unit_of_measurement"]
            self.entities[entity_id]["last_changed"] = (
                datetime.now(UTC) - datetime.strptime(
                    entity["last_changed"], "%Y-%m-%dT%H:%M:%S.%f%z"
                )
            ).seconds
            self.entities[entity_id]["last_updated"] = (
                datetime.now(UTC) - datetime.strptime(
                    entity["last_updated"], "%Y-%m-%dT%H:%M:%S.%f%z"
                )
            ).seconds

