// -*- mode: jsonc -*-
// {{ ansible_managed }}
{
  "output": "{{ item['display'] }}",
  "layer": "top",
  "position": "{{ item['position'] | default('bottom') }}",
  "height": {{ item['height'] | default(40) }},
  "spacing": {{ item['spacing'] | default(4) }},
  "modules-left": [
{% for module in item['modules_left'] %}
    "{{ module }}",
{% endfor %}
  ],
  "modules-center": [
{% for module in item['modules_center'] %}
    "{{ module }}",
{% endfor %}
  ],
  "modules-right": [
{% for module in item['modules_right'] %}
    "{{ module }}",
{% endfor %}
  ],
  "sway/workspaces": {
    "disable-scroll": {{ item['workspaces_disable_scoll'] | default(true) }},
    "all-outputs": {{ item['workspaces_all_outputs'] | default(false) }},
    "warp-on-scroll": {{ item['workspaces_warp_on_scroll'] | default(false) }},
    "format": "{{ item['workspaces_format'] | default('{name}: {icon}') }}",
    "format-icons": {
{% for icon in item['workspaces_format_icons'] | default(sway_waybar_workspaces_default_format_icons)  %}
      "{{ icon['name'] }}": "{{ icon['icon'] }}",
{% endfor %}
    }
  },
  "keyboard-state": {
    "numlock": {{ item['keyboard_numlock'] | default(true) }},
    "capslock": {{ item['keyboard_capslock'] | default(true) }},
    "format": "{{ item['keyboard_format'] | default('{name} {icon}') }}",
    "format-icons": {
{% for icon in item['keyboard_format_icons'] | default(sway_waybar_keyboard_default_format_icons) %}
      "{{ icon['name'] }}": "{{ icon['icon'] }}",
{% endfor %}
    }
  },
  "idle_inhibitor": {
    "format": "{{ item['idle_inhibitor_format'] | default('{icon}') }}",
    "format-icons": {
{% for icon in item['idle_inhibitor_format_icons'] | default(sway_waybar_idle_inhibitor_default_format_icons) %}
      "{{ icon['name'] }}": "{{ icon['icon'] }}",
{% endfor %}
    }
  },
  "tray": {
    "icon-size": {{ item['tray_icon_size'] | default(24) }},
    "spacing": {{ item['tray_spacing'] | default(10) }},
    "icons": {
{% for icon in item['tray_icons'] | default([]) %}
      "{{ icon['name'] }}": "{{ icon['icon'] }}",
{% endfor %}
    }
  },
  "clock": {
    "timezone": "{{ item['clock_timezone'] | default('Europe/Berlin') }}",
    "format": "{{ item['clock_format'] | default('{:%H:%M:%S}') }}",
    "tooltip-format": "{{ item['clock_tooltip_format'] | default('<tt><small>{calendar}</small></tt>') }}",
    "format-alt": "{{ item['clock_alt_format'] | default('{:%Y-%m-%d}') }}"
  },
  "cpu": {
    "format": "{{ item['cpu_format'] | default('{usage}% ') }}",
    "tooltip": "{{ item['cpu_tooltip'] | default('false') }}"
  },
  "memory": {
    "format": "{{ item['memory_format'] | default('{}% ') }}"
  },
  "temperature": {
    "hwmon-path": "{{ item['temperature'] | default('/sys/class/hwmon/hwmon2/temp1_input') }}",
    "critical-threshold": {{ item['temperature_critical_threshold'] | default('80') }}",
    "format": "{{ item['temperature_format'] | default('{temperatureC}°C {icon}') }}",
    "format-icons": {{ item['temperature_format_icons'] | default('["󰉬", "", "󰉪"]') }}
  },
  "network": {
    "format-wifi": "{{ item['network_format_wifi'] | default('{essid} ({signalStrength}%) ') }}",
    "format-ethernet": "{{ item['network_format_ethernet'] | default('{ipaddr}/{cidr} 󰊗') }}",
    "tooltip-format": "{{ item['network_tooltip_format'] | default('{ifname} via {gwaddr} 󰊗') }}",
    "format-linked": "{{ item['network_format_linked'] | default('{ifname} (No IP) 󰊗') }}",
    "format-disconnected": "{{ item['network_format_disconnected'] | default('Disconnected ⚠') }}",
    "format-alt": "{{ item['network_format_alt'] | default('{ifname}: {ipaddr}/{cidr}') }}"
  },
  "pulseaudio": {
    "scroll-step": {{ item['pulseaudio_scroll_step'] | default("1") }},
    "format": "{{ item['pulseaudio_format'] | default('{volume}% {icon} {format_source}') }}",
    "format-muted": "{{ item['pulseaudio_format_muted'] | default('󰅶  {format_source}') }}",
    "format-bluetooth": "{{ item['pulseaudio_format_bluetooth'] | default('{volume}% {icon} {format_source}') }}",
    "format-bluetooth-muted": "{{ item['pulseaudio_format_bluetooth_muted'] | default('󰅶 {icon} {format_source}') }}",
    "format-source": "{{ item['pulseaudio_format_source'] | default('{volume}% ') }}",
    "format-source-muted": "{{ item['pulseaudio_format_source_muted'] | default('') }}",
    "format-icons": {
{% for icon in item['pulseaudio_format_icons'] | default(sway_waybar_pulseaudio_default_format_icons) %}
      "{{ icon['name'] }}": "{{ icon['icon'] }}",
{% endfor %}
    },
    "on-click": "{{ item['pulseaudio_on_click'] | default('pavucontrol') }}"
  },
  "custom/weather": {
    "format": "{text}",
    "return-type": "{json}",
    "exec": "{{ item['weather_script'] | default('$HOME/.config/waybar/scripts/weather.py') }}"
  },
{% for module in item['custom_module_config'] %}
  "{{ module['name'] }}": {
    {{ module['config'] | indent(4) }}
  },
{% endfor %}
}
